
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }

}

@media (max-width: 600px) {
  .esconder{
    display: none;
    visibility: hidden;
  }

}
#tabela {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 4%;
  margin-top: 2%;
}
.secTabela{
  padding: 2%;
  display: flex;
}
td,
th {
  border: 1px solid #FEC89A;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f5e6ff;
}
tr:nth-child(odd) {
  background-color: #9a8bce;
}
table,
th,
td {
  border: 1px solid #a44a3f;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;

  position: center;
}
