#botaoenviar{
    background-color: #e5588b !important;
    color: black;
}

#botaoCadastro{
    background-color: #e5588b !important;
    color: black;
}
a{
    color: #e5588b;
}
a:hover{
    color: #e5588b;
}
button:hover{
    background-color: #cb80fd;

}
#botao{
    background-color: #e5588b;
    color: BLACK;
}
#botaoAluno{
    background-color: #e5588b;
    color: BLACK;
}
#centralizarBotao{
    display: flex;
    justify-content: center;
}
#centralizarBotaoTurmas{
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}
#fileira{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.card{
    flex: 1 1 25%;
    margin: 1.5%;
    width: 18rem;
    border: 1px solid rgb(255, 255, 255);
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow:0px 10px 13px -7px rgba(229,88,139,1);
    -moz-box-shadow: 0px 10px 13px -7px rgba(229,88,139,1);
    box-shadow: 0px 10px 13px -7px rgba(229,88,139,1);
}
.mais{
    display: flex;
    justify-content:flex-end;
    margin-right: 5%;
    height: 10vh;
    margin-bottom: 5%;
}
#botaomais{
    background-color:  black !important;
    color: #9D9D9D;
    border-radius: 50%;
    width: 10vh;

}

#containerbd{
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid white;
    flex-grow: 1;
    /* box-shadow:
    0 0 60px 10px #fff,  /* inner white 
    0 0 100px 20px #f0f, middle magenta 
    0 0 140px 30px #0ff; outer cyan */
}


.header{
    width: 100%;
    height: 50vh;
    background-color: pink;
    margin-top: 1%;
}

#botao:hover{
    background-color: #cb80fd;
}

@media (max-width: 900px) {
    #fileira{
        display: flex;
        flex-direction: column;
        align-content:center
        }
    .card{
        flex: 1 100%;
        width: 90%;
    }
    .mais{
        position: fixed;
        bottom: 0px;
        right: 0px;
        z-index: 2;
    }
    #botaomais{
        background-color:  rgb(255, 96, 162) !important;
        color: aliceblue;
    }
    #containerbd{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

}
.cabecalho{
    background-color:black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 20px solid black;
    width: 100%;
    height: 50px;
}

.maisAluno{
    display: flex;
    justify-content:flex-end;
    margin-right: 5%;
    height: 10vh;
    margin-bottom: 5%;
}
#botaomaisAluno{
    background-color:  black !important;
    color: #9D9D9D;
    border-radius: 50%;
    width: 10vh;

}
.titulo-cadastro{
    color: #e5588b;
    text-align: center;
}
.form-group{
    padding: 10px;
}
head{
    font-family: 'Quicksand', sans-serif;
}
body{
    font-family: 'Quicksand', sans-serif;
}
footer{
    font-family: 'Quicksand', sans-serif;
}


.navbar-inverse{
    margin: 0px;
}

.titulo{
    text-align: center;
    color: #fff;
    font-weight: bolder;
}
